# Server Configuration
PORT=3000
NODE_ENV=development

# Database Setup (PostgreSQL)
# LOCAL: DATABASE_URL="postgresql://user:password@localhost:5432/scribeshade?schema=public"
# DOCKER: DATABASE_URL="postgresql://scribe-user:strongpassword@db:5432/scribeshade?schema=public"
DATABASE_URL="postgresql://user:password@localhost:5432/scribeshade?schema=public"

# Clerk Authentication
CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...
CLERK_WEBHOOK_SECRET=whsec_...

# Note for Docker:
# If using 'docker compose', use the DATABASE_URL that points to 'db' host.
# You can use .env.docker for this purpose.

GEMINI_API_KEY = 